#scrollBar{
    background-color: darkslategrey;
    height: 100%;
    font-family: Courier New ,monospace;
    font-palette: dark;
    width: 100%;
    color: aquamarine;
    position: relative;
    text-align: center;

}
.navbarMenuOption{
    background-color: slategrey;
    margin:15% 15% 15% 15%;
    border-radius: 5%;
    text-decoration: none;
    color: lavender;
}